@font-face {
    font-family: HarmoniaSemiBold;
    src:url('../fonts/HarmoniaSansProCyr-SemiBd.otf')
}
@font-face {
    font-family:HarmoniaRegular;
    src:url('../fonts/HarmoniaSansProCyr-Regular.otf');
}
@font-face {
    font-family:HarmoniaItalic;
    src:url('../fonts/HarmoniaSansProCyr-Italic.otf');
}
@font-face {
    font-family:Titillium-xBold;
    src:url('../fonts/TitilliumText22L006.otf');
}
@font-face {
    font-family:HarmoniaBlack;
    src:url('../fonts/HarmoniaSansProCyr-Black.otf');
}
@font-face {
    font-family:HarmoniaBold;
    src:url('../fonts/HarmoniaSansProCyr-Bold.otf');
}
