.footer{
    background-color: #fff;
}
.footer-links ul li{
    list-style: disc;
}
.copyright{
    font-size: 14px;
    font-family: HarmoniaRegular;
    color: #28313b;
    margin-top: 20px;
}
.footer-list{
    font-size: 14px;
    font-family: HarmoniaRegular;
    color: #28313b;
    transition:color .2s linear;
    margin-top: 10px;
    margin-bottom: 10px;
    &:hover{
    color: $orange;
    }
    a{
        &:hover{
        color: $orange;
        }
    }
}
.list-1{
    margin-right: 130px;
}
.list-2{
    margin-right: 70px;
}
.footer-indent{
    padding-top: 100px;
    padding-bottom: 80px;

}
.payment-header{
    margin-top: 20px;
    font-size: 16px;
    font-family: HarmoniaSemiBold;
    color: $orange;
}
@media screen and (max-width:980px){
    .footer-indent{
        justify-content: center;
    }
    .footer-links{
        justify-content: center;
    }
    .list-1,.list-2,.list-3{
        margin: 0;
    }
}
